<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
</head>
<body>
	<div align="center">
		<h1>Share project with someone:</h1>
		<form id="shareProjectForm"
			th:action="@{'/project/share/' + ${projectId}}"
			th:object="${memberForm}" method="POST">
			<table>
				<tr>
					<td><label for="memberUserNameInput">Username</label></td>
					<td><input id="memberUserNameInput" type="text"
						placeholder="USERNAME" required th:field="*{username}" /></td>
					<td th:if="${#fields.hasErrors('username')}"
						th:errors="*{username}" th:style="'color:red'"></td>
				</tr>
			</table>
			<div>
				<button type="submit" class="btn btn-primary">Add Member</button>
			</div>
		</form>
		<div align="center">
			<h4>
				<a th:href="'/projects/' + ${projectId}" class="btn btn-primary">Back to Project</a>
				<a href="/projects" class="btn btn-primary">My Projects</a>
				<a href="/home" class="btn btn-primary">Home</a>

			</h4>
		</div>
		</div>
</body>
</html>