<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>TaskManager</title>
</head>

<body>
	<div align="center">
<h1 th:text="'Welcome, Admin ' +${user.firstName} + '!'"></h1>
<h4><a href="/admin/users">All Users List</a></h4>
<h4><a href="/home">Default Home Page</a></h4>
<h4><a href="/logout">Logout</a></h4>
</div>
</body>
</html>