<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org">
	  
<head>
	<meta charset="UTF-8">
	<title>TaskManager</title>
</head>

<body>
	<div align="center">
	<h1>My Projects</h1>
	<div>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="project : ${projectsList}">
					<td> <a th:href="'/projects/' + ${project.id}" th:text="${project.name}">...</a></td>
					<td th:text="${project.description}">...</td>
					<td><a th:href="'/projects/update/' + ${project.id}">Update Project</a>
					<td><a th:href="'/projects/remove/' + ${project.id}">Remove Project</a>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
</body>
	  </html>