<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

<head>
    <title>TaskManager</title>
</head>

<body>
<h1 style="padding-top: 30px" th:text="${project.name}"></h1>
<h4 style="padding-top: 30px" th:text="${project.description}" style="color:gray"></h4>

<div th:if="${members.size() > 0}" >
    <h3 style="padding-top: 30px">Shared with:</h3>
    <ul>
        <li th:each="member: ${members}">
            <div th:text="${member.firstName} + ' ' + ${member.lastName}"></div>
        </li>
    </ul>
</div>
<div>
    <h3 style="padding-top: 30px">Tasks:</h3>
		<div th:if="${project.tasks.size() > 0}" align="center">
			<table>
				<tr>
					<th>name</th>
					<th>description</th>
					<th>creation date</th>
					<th>Assigned To</th>
					<th>completed</th>
				</tr>
				<tbody>
					<tr th:each="task : ${project.tasks}">
						<td><a th:href="'/projects/tasks/' + ${task.id}"
							th:text="${task.name}"></a>Name:</td>
						<td th:text="${task.description}">Description: </td>
						<td
							th:text="${#temporals.format(task.creationTimestamp,'dd-MM-yyyy')}">Creation:</td>
						<td th:text="${task.assignedTo?.firstName}">Assigned to:</td>
						<td th:if="${task.completed}">Yes</td>
						<td th:unless="${task.completed}">No</td>
						<td><a th:href="'/tasks/update/' + ${task.id}">Update task</a>

						<td><a th:href="'/tasks/assignuser/' + ${task.id}">Assign User </a>
					</tr>
				</tbody>
			</table>

		<div th:unless="${members.size() > 0}">Project not shared with
			anyone</div>

		<!-- AGGIUNGERE NUOVO MEMBRO -->
		<h3 style="padding-top: 30px">
			<a th:href="'/project/share/' + ${project.id}">Share</a>
		</h3>


    
    
    
    
    </div>
    	<div align="center">
			<h4 style="padding-top: 30px">
				<a href="/projects" class="btn btn-primary">My Projects</a> <a
					th:href="'/projects/' + ${project.id} + '/tasks/add'"
					class="btn btn-primary">Create Task</a>
			</h4>
			<h4>
				<a href="/home" class="btn btn-primary">Home</a>
			</h4>



		</div>
    </div>
</body>
</html>