<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
</head>
<body>
<div align="center">
    <h1>Shared with me projects</h1>
    <div th:if="${sharedProjectsList.size() > 0}" align="center">
        <table>
            <tr>
                <th>name</th>
                <th>description</th>
                <th>owner firstname</th>
                <th>owner lastname</th>
            </tr>
            <tbody>
                <tr th:each="project : ${sharedProjectsList}">
                    <td><a th:href="'/projects/' + ${project.id}"
                        th:text="${project.name}">...</a></td>
                    <td th:text="${project.description}"></td>
                    <td th:text=${project.owner.firstName}></td>
                    <td th:text=${project.owner.lastName}></td>
                    
                </tr>
            </tbody>
        </table>
    </div>
    <div th:unless="${sharedProjectsList.size() > 0}" align="center">
        <h5>No project to show</h5>
    </div>
    <h3 align="center"><a href="/home" style="padding.top: 20px" class="btn btn-primary">Home</a></h3>
    </div>
</body>
</html>