<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
	<title>TaskManager</title>
</head>
<body>
	<div align="center">
	<div>
		<h1 th:text="'task: ' + ${task.name}"></h1>
		<table>
			<tr>
				<td>Task name:</td>
				<td th:text="${task.name}"></td>
			</tr>
			<tr>
				<td>Task description:</td>
				<td th:text="${task.description}" style="color: gray"></td>
			</tr>
			<tr>
				<td>Task Creation Date:</td>
				<td th:text="${task.creationTimestamp}" style="color: green"></td>
			</tr>
			<tr>
				<td>Task Completed:</td>
				<td th:if="${task.completed}">Yes</td>
				<td th:unless="${task.completed}">No</td>
			</tr>
		</table>
		<h4>
			<a href="/projects" class="btn btn-primary">My Projects</a>
		</h4>

		<h4>
			<a href="/home" class="btn btn-primary">Home</a>
		</h4>
<table>
<tr>
		<td><a th:href="'/tasks/remove/' + ${task.id}">Remove Task</a></td> </tr>
</table>
	</div>
	</div>
</body>
</html>